<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tech.motjip"> <!-- 패키지명 확인 -->

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 안드로이드 11 이상에서 카카오톡 앱을 인식하기 위한 설정 -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".MotJipApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="맛집"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotJip"
        tools:targetApi="31">

        <!-- 메인 화면 (로그인 화면) -->
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 홈 화면 (로그인 성공 후 이동) -->
        <activity
            android:name=".View.HomeActivity"
            android:exported="false" />

        <!-- 기타 액티비티 -->
        <activity android:name=".View.ProfileActivity" android:exported="false" />
        <activity android:name=".View.TestActivity" android:exported="false" />
        <activity android:name=".Handler.BaseActivity" android:exported="false" />

        <!-- 🚀 카카오 로그인 리다이렉트 설정 (가장 중요!) -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 기철님의 네이티브 앱 키 사용 -->
                <data
                    android:host="oauth"
                    android:scheme="kakaofc96e5701f247062fd7a0af17ce8e526" />
            </intent-filter>
        </activity>

    </application>

</manifest>